@use '../global';

.user {
  background-color: global.$mainColor;
  border-bottom: 10px solid global.$gainsboro;

  &__title {
    font-size: 2.5rem;
    color: global.$darkGray;

    @include global.breakpoint(desktop) {
      font-size: 3.4rem;
    }
  }

  &__body {
    margin-top: 1.5rem;
    padding-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    position: relative;

    @include global.breakpoint(desktop) {
      margin-top: 2.6rem;
      gap: 2.5rem 5.8rem;
    }
  }

  &__button {
    font-size: 1.2rem;
    text-transform: uppercase;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 9.3rem;
    width: 100%;
    min-height: 4.8rem;
    height: 100%;
    font-weight: 700;
    border-radius: 6px;
    color: global.$darkGray;

    @include global.breakpoint(tablet) {
      font-size: 1.3rem;
      max-width: 10.3;
      min-height: 5.5rem;
    }

    @include global.breakpoint(desktop) {
      font-size: 1.8rem;
      min-width: 20.1rem;
      min-height: 10rem;
    }

    &--active {
      background-color: global.$iceBlue;
      color: global.$mainColor;
    }
  }
}
